/* font styles */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Universal Styles */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Common Styles */
header{
    background: rgba(255, 144,14, 0.1);
}
h1{
    font-weight: 700;
    color: #131313;
    font-size: 64px;
}
h2{
    font-weight: 700;
    color: #131313;
    font-size: 45px;
}
h3{
    font-weight: 500;
    color: #131313;
    font-size: 25px;
}
h4{
    font-weight: 600;
    color: #131313;
    font-size: 20px;
}
p{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}
.primary-button{
    background: #FF900E;
    color: #ffffff;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
}

/* Menu Bar Styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 240px 45px 230px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 48px;
    font-size: 18px; 
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner{
    text-align: center;
    padding: 50px 360px;
}
.banner p{
    padding: 32px 0px;
}
.banner img{
    width: 100%;
    margin-top: 50px;
}

/* Features Styles */
.features-container{
    padding: 85px 150px 30px;
}
.features{
    display: flex;
    gap: 52px;
    align-items: center;
    justify-content: center;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features p{
    padding: 24px 0 32px;
}

/* Loved Features Styles */
.loved-features-container{
    padding: 65px 150px 0;
}
.loved-features{
    display: flex;
    gap: 54px;
}
.loved-features h2{
    border-left: 5px solid #FF900E;
    padding: 0 0 0 24px;
}
.loved-features-description{
    padding: 24px 0 30px;
}
.loved-feature-list{
    box-shadow: 0 0 5px rgb(219, 219, 219);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
}
.loved-feature-list p{
    padding-top: 10px;
}
.loved-features img{
    width: 660px;
}
.experience-button{
    background: #FF900E;
    color: #ffffff !important;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 46px 42px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    position: relative;
    top: -100px;
    left: -30px;
    
}

/* Some Facts Styles */
.some-facts-container{
    padding: 0 150px;
}
.some-facts-container p{
    padding: 0 650px 100px 0;
}
.fact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 45px 35px 55px;
}
.fact h4{
    color: #727272;
}

/* Our Sponsors Styles */
.our-sponsors{
    padding: 180px 480px 50px;
    text-align: center;
}
.our-sponsors p{
    padding: 24px 0 0;
}
.our-sponsor-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.our-sponsor-images img{
    filter: grayscale(100%);
}

/* Footer Styles */
footer{
    padding: 130px 120px;
    margin-bottom: 50px;
}
.footer{
    background-color: #FFF4E7;
}
.footer p{
    padding: 20px 200px;
    text-align: center;
    color: #424242;
}

/* Mobile Devices */
@media only screen and (max-width: 688px) {
    ul{
        padding: 0;
    }
    h1{
        font-weight: 700;
        color: #131313;
        font-size: 42px;
    }
    h2{
        font-weight: 700;
        color: #131313;
        font-size: 36px;
    }
    nav{
        padding: 50px 0px 45px 0px;
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    nav li{
        margin-left: 0px;
    }
    .banner{
        padding: 0;
    }
    .features-container{
        padding: 85px 10px 30px;
    }
    .features{
        flex-direction: column-reverse;
    }
    .feature-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .loved-features-container{
        padding: 65px 10px 0;
    }
    .loved-features{
        flex-direction: column;
    }
    .loved-features h2{
        padding: 0 0 0 10px;
    }  
    .loved-feature-list{
        padding: 10px;
    }
    .loved-features img{
        width: 100%;
    }
    .experience-button{
        padding: 46px 0;
    }
    .some-facts-container{
        padding: 0 10px;
    }
    .some-facts-container p{
        padding: 10px 0px 20px 0;
    }
    .fact-container{
        flex-direction: column;
        gap: 10px;
    }
    .fact{
        padding: 45px 10px 55px;
    }
    .our-sponsors{
        padding: 80px 10px 50px;
        text-align: center;
    }
    .our-sponsor-images{
        flex-direction: column;
    }
    footer{
        padding: 130px 10px;
    }
    .footer p{
        padding: 20px 0px;
    }
}

