/* font styles */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Universal Styles */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Common Styles */
header{
    background: rgba(255, 144,14, 0.1);
}
h1{
    font-weight: 700;
    color: #131313;
    font-size: 64px;
}
h2{
    font-weight: 700;
    color: #131313;
    font-size: 45px;
}
h3{
    font-weight: 500;
    color: #131313;
    font-size: 25px;
}
h4{
    font-weight: 600;
    color: #131313;
    font-size: 20px;
}
p{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}
.primary-button{
    background: #FF900E;
    color: #ffffff;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
}

/* Menu Bar Styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 240px 45px 230px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 48px;
    font-size: 18px; 
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner{
    text-align: center;
    padding: 50px 260px;
}
.banner p{
    padding: 32px 0px;
}
.banner img{
    width: 100%;
    margin-top: 50px;
}

/* Features Styles */
.features-container{
    padding: 85px 150px 30px;
}
.features{
    display: flex;
    gap: 52px;
    align-items: center;
    justify-content: center;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features p{
    padding: 24px 0 32px;
}

/* Loved Features Styles */
.loved-features-container{
    padding: 65px 150px;
}
.loved-features{
    display: flex;
    gap: 54px;
}
.loved-features h2{
    border-left: 5px solid #FF900E;
    padding: 0 0 0 24px;
}
.loved-features-description{
    padding: 24px 0 30px;
}
.loved-feature-list{
    box-shadow: 0 0 5px rgb(219, 219, 219);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
}
.loved-feature-list p{
    padding-top: 10px;
}
.loved-features img{
    width: 660px;
}
.experience-button{
    background: #FF900E;
    color: #ffffff !important;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 46px 42px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    position: relative;
    top: -100px;
    left: -30px;
    
}